html, body{
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: "Lucida Console", Monaco, monospace;   
  /* Minimum 16x, and grows more slowly */
  /* (half the rate of screen growth)*/
  font-size: calc(12px + 0.5vw);
  /* Line-height based on font-size,*/
  /* with addition viewport-relative growth*/
  line-height: calc(1.1em + 0.5vw);
}

.content {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 150px repeat(4, 1fr) 150px;
  grid-template-rows: 60px 1fr auto;
  grid-template-areas:
    "h h h h h h"
    "l m m m m r"
    "f f f f f f";
  /* grid-gap: 1em; */
  min-height: 100vh;
  min-width:430px;
}

@media screen and (max-width: 850px) and (min-width: 640px){
  .content {
      grid-template-columns: repeat(4, 1fr) 150px;
      grid-template-rows: 50px 
                      1fr
                      1fr
                      auto;
      grid-template-areas: "h h h h h"
                           "m m m m l"
                           "m m m m r"
                           "f f f f f";
  }
}

@media screen and (max-width: 640px){
  .content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px 
                      auto
                      1fr
                      auto;
      grid-template-areas: "h h"
                           "m m"
                           "l r"
                           "f f";
  }
    
}

.content > *{
  border: 1px solid #fff;
  padding: 1em;
}

aside{
  align-items: top;
  justify-content: center;
  display: flex;
}

.sidebar-left{grid-area: l;}
 
.sidebar-right{grid-area: r;}

main{
  grid-area: m;
}

header{
  background-color: inherit;
  grid-area: h;
  align-items: top;
  justify-content: center;
  display: flex;
  position: fixed;
  width: 100%;  
} 

footer {
  grid-area: f;
  align-items: top;
  justify-content: center;
  display: flex;
}

article {
  display: grid;
  grid-template-columns: 
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 45em) [main-end]
    minmax(1em, 1fr) [full-end];
}

article > * {
  grid-column: main;
}

figure {
  grid-column: full;
}

img {
  max-width: 100%;
}

